#firstSect {
  min-height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
img {
  max-width: 100%;
}
a {
  color: white;
  display: inline-block;
}
span {
  display: inline-block;
}
